@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Days One', sans-serif;
}
.welcome {
  height: 600px;
  position: relative;
  top: 100px;
}

#About, #Contact {
  background-color: rgb(27, 33, 45);
  color: white;
}

a {
  color: rgb(255, 255, 255);
  text-shadow: rgb(17, 0, 255) 0px 0px 10px;
  transition: 0.4s;
}

a:hover {
  color: rgb(40, 61, 78);
  text-shadow: none
}

a:after {
  color: blue;
}

#nav_bar .active {
  color:            #F8F8F8;
  background-color: #4f81bd;
}

.avatar {
max-width: 60px;
}

.portfolio-img {
  max-width: 150px;
}

.black {
  background: none;
}

footer h4 {
  font-size: 1rem;
  text-shadow: rgb(17, 0, 255) 0px 0px 10px;
}

footer p {
  font-size: 0.8rem;
}

h2 {
  font-size: 1rem;
}

#Resume {
  height: 650px;
}

#Resume ul {
  border-left: 2px solid rgb(50, 50, 50);
}

#Resume a {
  text-shadow: rgb(17, 0, 255) 0px 0px 8px;
}

#Resume a:hover {
  text-shadow: none;
}